@font-face {
  font-family: "Roboto";
  src : url("../fonts/Roboto/Roboto.eot");
  src : url("../fonts/Roboto/Roboto.ttf");
  src : url("../fonts/Roboto/Roboto.woff");
}

@font-face {
  font-family: "Montserrat";
  src : url("../fonts/Montserrat/Montserrat-Regular.eot");
  src : url("../fonts/Montserrat/Montserrat-Regular.ttf");
  src : url("../fonts/Montserrat/Montserrat-Regular.woff");
}